.htmlid
{
    font-size: 18px;
    color: #c8ffff;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    line-height: 23px;

    background-image: linear-gradient(to bottom left, #9e9e9e 0%, #333333 100%);
    height: 100%;
    margin: 0;
}
.ninput
{
    text-shadow: 0px 1px 1px black;
    font-size: 16px;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 13px;
    border: 0 solid #808080;
    border-radius: 13px;
    box-shadow:inset 0 0 4px  rgba(0,0,0,0.1),0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.5);
    width: 133px;
}
.inputws
{
    text-shadow: 0px 1px 1px black;
    font-size: 16px;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 13px;
    border: 0 solid #808080;
    border-radius: 13px;
    box-shadow:inset 0 0 4px  rgba(0,0,0,0.1),0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.5);
}
a
{
    padding: 5px;
    left: 1%;
    text-shadow: 0px 1px 2px black;
    line-height: 143%;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    color: #c8ffff;
}
.editor
{
    width: 45%;
    border-top: #808080 5px inset;
    border-right: #808080 5px outset;
    border-left: #808080 2px inset;
    border-bottom: #808080 2px outset;

    background: inherit;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    -webkit-box-shadow: 0px 0px 33px 0px #333333;
    -moz-box-shadow: 0px 0px 33px 0px #333333;
    box-shadow: 0px 0px 33px 0px #333333;

    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 19px;
    text-shadow: 0px 1px 1px black;
    color: #c8ffff;
    z-index: 1;
}
iframe
{
    z-index: 0;
    width: 53%;
    height: 95%;
    right: .3%;
    top: 1%;
    position: absolute;
    border-top: #808080 5px inset;
    border-right: #808080 5px outset;
    border-left: #808080 2px inset;
    border-bottom: #808080 2px outset;

    background: inherit;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    -webkit-box-shadow: 0px 0px 33px 0px #333333;
    -moz-box-shadow: 0px 0px 33px 0px #333333;
    box-shadow: 0px 0px 33px 0px #333333;

    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 19px;
    text-shadow: 0px 1px 1px black;
    color: #c8ffff;
}
.abu
{
    text-shadow: 0px 1px 1px black;
    font-size: 16px;
    color: black;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 13px;
    border: 0 solid #808080;
    border-radius: 13px;
    box-shadow:inset 0 0 4px  rgba(0,0,0,0.1),0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.5);
}